LiveFeedUtility/Service References/LiveFeedServiceReference/livefeed2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://twingly.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://twingly.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://twingly.com/">
      <s:element name="GetDataByPostCountAndTimespan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="maxPosts" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPostCountAndTimespanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByPostCountAndTimespanResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPostCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="maxPosts" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByPostCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByPostCountResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByTimespan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataByTimespanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataByTimespanResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timestamp" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Status">
        <s:complexType />
      </s:element>
      <s:element name="StatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataByPostCountAndTimespanSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByPostCountAndTimespan" />
  </wsdl:message>
  <wsdl:message name="GetDataByPostCountAndTimespanSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByPostCountAndTimespanResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataByPostCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByPostCount" />
  </wsdl:message>
  <wsdl:message name="GetDataByPostCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByPostCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataByTimespanSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataByTimespan" />
  </wsdl:message>
  <wsdl:message name="GetDataByTimespanSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataByTimespanResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="StatusSoapIn">
    <wsdl:part name="parameters" element="tns:Status" />
  </wsdl:message>
  <wsdl:message name="StatusSoapOut">
    <wsdl:part name="parameters" element="tns:StatusResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveFeed2Soap">
    <wsdl:operation name="GetDataByPostCountAndTimespan">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an XML-document representing the blogposts associated with the calling customer that has entered the system after the given timestamp (ts). The method will return at most maxPosts (0 means all posts will be returned). The posts will be in the timespan formed by the two timestamps if [to] is given a value.</wsdl:documentation>
      <wsdl:input message="tns:GetDataByPostCountAndTimespanSoapIn" />
      <wsdl:output message="tns:GetDataByPostCountAndTimespanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByPostCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an XML-document representing the blogposts associated with the calling customer that has entered the system after the given timestamp (ts). The method will return at most maxPosts (0 means all posts will be returned).</wsdl:documentation>
      <wsdl:input message="tns:GetDataByPostCountSoapIn" />
      <wsdl:output message="tns:GetDataByPostCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataByTimespan">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an XML-document representing the blogposts associated with the calling customer that has entered the system after the given timestamp (ts). The method will return the posts that entered the stream in the timspan between the two timestamps.</wsdl:documentation>
      <wsdl:input message="tns:GetDataByTimespanSoapIn" />
      <wsdl:output message="tns:GetDataByTimespanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an XML-document representing the blogposts associated with the calling customer that has entered the system after the given timestamp (ts)</wsdl:documentation>
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Status">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used to get a confirmation that the service is up.</wsdl:documentation>
      <wsdl:input message="tns:StatusSoapIn" />
      <wsdl:output message="tns:StatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveFeed2Soap" type="tns:LiveFeed2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataByPostCountAndTimespan">
      <soap:operation soapAction="http://twingly.com/GetDataByPostCountAndTimespan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPostCount">
      <soap:operation soapAction="http://twingly.com/GetDataByPostCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByTimespan">
      <soap:operation soapAction="http://twingly.com/GetDataByTimespan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://twingly.com/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Status">
      <soap:operation soapAction="http://twingly.com/Status" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveFeed2Soap12" type="tns:LiveFeed2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataByPostCountAndTimespan">
      <soap12:operation soapAction="http://twingly.com/GetDataByPostCountAndTimespan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByPostCount">
      <soap12:operation soapAction="http://twingly.com/GetDataByPostCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataByTimespan">
      <soap12:operation soapAction="http://twingly.com/GetDataByTimespan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://twingly.com/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Status">
      <soap12:operation soapAction="http://twingly.com/Status" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveFeed2">
    <wsdl:port name="LiveFeed2Soap" binding="tns:LiveFeed2Soap">
      <soap:address location="http://api.twingly.com/livefeed2.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveFeed2Soap12" binding="tns:LiveFeed2Soap12">
      <soap12:address location="http://api.twingly.com/livefeed2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>